*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{

background:#050b25;
color:white;
overflow-x:hidden;

}


.bg{

position:fixed;
width:100%;
height:100%;
background:radial-gradient(circle at 30% 30%,#3a6aff,transparent 60%),
radial-gradient(circle at 70% 60%,#7b5bff,transparent 60%),
#050b25;

z-index:-1;

}


.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 60px;

backdrop-filter:blur(20px);
background:rgba(255,255,255,0.05);

border-bottom:1px solid rgba(255,255,255,0.1);

position:sticky;
top:0;

}


.logo{

font-weight:600;
letter-spacing:2px;

}


nav a{

margin-left:25px;
text-decoration:none;
color:white;
opacity:.8;

}


.hero{

height:80vh;
display:flex;
align-items:center;
justify-content:center;

}


.hero-container{

display:flex;
align-items:center;
gap:80px;

}


.hero-left h1{

font-size:60px;
letter-spacing:3px;

}


.hero-right img{

width:320px;

}


#activity{

padding:60px;

}


#activity h2{

margin-bottom:30px;
font-weight:500;

}


.slider{

display:flex;
align-items:center;
gap:20px;

}


.slides{

display:flex;
gap:20px;

overflow-x:auto;
scroll-behavior:smooth;

}


.slides img{

width:200px;
height:150px;

object-fit:cover;

border-radius:20px;

}


.prev,
.next{

background:rgba(255,255,255,0.1);
border:none;

color:white;

font-size:30px;

width:50px;
height:50px;

border-radius:50%;

cursor:pointer;

}


.menu-section{

padding:80px;
display:flex;
justify-content:center;

}


.menu-grid{

display:grid;

grid-template-columns:repeat(3,180px);

gap:30px;

}


.card{

text-decoration:none;

background:rgba(255,255,255,0.07);

backdrop-filter:blur(20px);

padding:40px;

text-align:center;

border-radius:25px;

color:white;

transition:.3s;

}


.card:hover{

transform:translateY(-10px);
background:rgba(255,255,255,0.15);

  }
