*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Noto Sans Thai','Poppins',sans-serif;
}

body{

background:#050b25;
color:white;
overflow-x:hidden;

}


/* background */

.bg{

position:fixed;
width:100%;
height:100%;

background:
radial-gradient(circle at 20% 30%,#4c6fff,transparent 60%),
radial-gradient(circle at 80% 70%,#7b5bff,transparent 60%),
#050b25;

z-index:-1;

}


/* navbar */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px;

backdrop-filter:blur(20px);
background:rgba(255,255,255,0.05);

position:sticky;
top:0;

}


.logo{

font-weight:600;
letter-spacing:2px;

}



/* hero */

.hero{

padding:40px 20px;

}


.hero-container{

display:flex;
flex-direction:column;
align-items:center;
text-align:center;
gap:20px;

}


.glow{

font-size:48px;

text-shadow:
0 0 10px #6ea8ff,
0 0 20px #6ea8ff,
0 0 40px #6ea8ff;

}


.profile{

width:260px;

}


/* slider */

#activity{

padding:40px 20px;

}


.slider{

overflow:hidden;

}


.slides{

display:flex;
gap:15px;

animation:slide 15s linear infinite;

}


.slides img{

width:180px;
height:130px;

object-fit:cover;

border-radius:18px;

}


/* menu */

.menu-section{

padding:40px;

display:flex;
justify-content:center;

}


.menu-grid{

display:grid;

grid-template-columns:repeat(2,140px);

gap:20px;

}


.card{

background:rgba(255,255,255,0.08);

backdrop-filter:blur(20px);

padding:25px;

text-align:center;

border-radius:20px;

color:white;

text-decoration:none;

font-size:14px;

transition:.3s;

}


.card:hover{

background:rgba(255,255,255,0.15);

transform:translateY(-5px);

}


/* animation */

@keyframes slide{

0%{
transform:translateX(0);
}

100%{
transform:translateX(-50%);
}

}


/* desktop */

@media(min-width:768px){

.hero-container{

flex-direction:row;
justify-content:center;
gap:100px;

}

.glow{

font-size:80px;

}

.profile{

width:350px;

}

.menu-grid{

grid-template-columns:repeat(3,180px);

}

  }
