*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background: radial-gradient(circle at top,#001533,#000814);
color:white;
overflow-x:hidden;
}

/* STAR BACKGROUND */

body::before{
content:"";
position:fixed;
width:100%;
height:100%;
background-image:
radial-gradient(white 1px, transparent 1px),
radial-gradient(white 1px, transparent 1px);
background-size:50px 50px;
opacity:0.2;
animation:stars 60s linear infinite;
}

@keyframes stars{
from{transform:translateY(0);}
to{transform:translateY(-2000px);}
}

/* NAVBAR */

.navbar{
position:fixed;
top:0;
width:100%;
height:60px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
backdrop-filter: blur(20px);
background:rgba(255,255,255,0.05);
border-bottom:1px solid rgba(255,255,255,0.1);
z-index:10;
}

/* HAMBURGER */

.hamburger{
width:30px;
cursor:pointer;
}

.hamburger span{
display:block;
height:3px;
background:white;
margin:6px 0;
border-radius:3px;
}

/* HERO */

.hero{
padding-top:120px;
text-align:center;
}

/* PROFILE */

.profile{
width:140px;
border-radius:50%;
margin-bottom:40px;
box-shadow:
0 0 30px rgba(0,140,255,0.6),
0 0 60px rgba(0,140,255,0.3);
animation:float 4s ease-in-out infinite;
}

@keyframes float{
0%,100%{transform:translateY(0);}
50%{transform:translateY(-10px);}
}

/* MENU */

.menu{
display:grid;
grid-template-columns:1fr 1fr;
gap:30px;
padding:30px;
}

/* CARD */

.card{
height:130px;
display:flex;
align-items:center;
justify-content:center;
border-radius:25px;

background:rgba(255,255,255,0.08);
backdrop-filter: blur(20px);

border:1px solid rgba(255,255,255,0.1);

font-size:20px;

transition:0.3s;
}

/* HOVER */

.card:hover{
transform:scale(1.07);
box-shadow:
0 0 20px rgba(0,140,255,0.6),
0 0 40px rgba(0,140,255,0.4);
}

/* ACTIVITY */

#activity{
padding:80px 20px;
}

.slider{
overflow-x:auto;
scroll-snap-type:x mandatory;
display:flex;
gap:20px;
}

.slider img{
width:260px;
border-radius:20px;
scroll-snap-align:center;
transition:0.3s;
}

.slider img:hover{
transform:scale(1.05);
  }
